.faq-accordion {
	font-family: 'interstate', sans-serif;
	line-height: 1;
}

.accordion {
	max-width: 700px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.accordion .item {
	box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
	padding: 24px;
	cursor: pointer;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 24px;
	row-gap: 32px;
	border-top: 4px solid transparent;
	align-items: center;
	transition: border-top 0.3s;
}

.accordion .item.open {
	border-top: 4px solid #bc9a64;
}

.accordion .item.open .hidden-box {
	display: block;
}

.accordion .item.open .text {
	color: #0e0e0e;
}

.accordion .number {
	color: #bc9a64;
}

.accordion .number,
.accordion .text {
	font-size: 1.1rem;
	font-weight: 500;
}

.accordion .item.open .text {
	transition: color 0.3s;
}

.accordion .icon {
	width: 36px;
	height: 36px;
	stroke: #0e0e0e;
	transition: transform 0.5s ease-in;
}

.accordion .item.open .icon {
	transform: rotate(180deg);
}

.accordion .hidden-box {
	grid-column: 2;
	display: none;
	transition: display 0.5 ease-in;
}

.accordion .hidden-box p {
	line-height: 1.6;
	margin-bottom: 24px;
}

.accordion .hidden-box ul {
	color: #0e0e0e;
	margin-left: 18px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
	


	











.so-tab {
position: relative;
width: 100%;
overflow: hidden;
margin: 25px 0;
}
.so-tab label {
position: relative;
display: block;
padding: 0 25px 0 0;
margin-bottom: 15px;
line-height: normal;
cursor: pointer;
}
.so-tab input {
position: absolute;
opacity: 0;
z-index: -1;
}
.so-tab-content {
max-height: 0;
overflow: hidden;
transition: max-height .35s;
}
/* :checked */
.so-tab input:checked ~ .so-tab-content {
max-height: none;
}
/* Icon */
.so-tab label::after {
position: absolute;
right: 0;
top: -20px;
display: block;
width: 3em;
height: 3em;
line-height: 3;
text-align: center;
-webkit-transition: all .35s;
-o-transition: all .35s;
transition: all .35s;
}
.so-tab input[type=checkbox] + label::after {
content: "+";
}
.so-tab input[type=radio] + label::after {
content: "\25BC";
}
.so-tab input[type=checkbox]:checked + label::after {
transform: rotate(315deg);
}
.so-tab input[type=radio]:checked + label::after {
transform: rotateX(180deg);
}
